<?xml version="1.0"?>
<robot name="my_dual_robot_cell" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find my_dual_robot_cell_description)/urdf/my_dual_robot_cell_macro.xacro"/>

  <xacro:arg name="robot2_ur_type" default="ur3"/>
  <xacro:arg name="robot2_joint_limits_parameters_file" default="$(find ur_description)/config/$(arg robot2_ur_type)/joint_limits.yaml"/>
  <xacro:arg name="robot2_kinematics_parameters_file" default="$(find ur_description)/config/$(arg robot2_ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="robot2_physical_parameters_file" default="$(find ur_description)/config/$(arg robot2_ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="robot2_visual_parameters_file" default="$(find ur_description)/config/$(arg robot2_ur_type)/visual_parameters.yaml"/>

  <xacro:arg name="robot1_ur_type" default="ur3"/>
  <xacro:arg name="robot1_joint_limits_parameters_file" default="$(find ur_description)/config/$(arg robot1_ur_type)/joint_limits.yaml"/>
  <xacro:arg name="robot1_kinematics_parameters_file" default="$(find ur_description)/config/$(arg robot1_ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="robot1_physical_parameters_file" default="$(find ur_description)/config/$(arg robot1_ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="robot1_visual_parameters_file" default="$(find ur_description)/config/$(arg robot1_ur_type)/visual_parameters.yaml"/>

  <link name="world"/>
  <!--This will create the scene where the robots are located in-->
  <xacro:my_dual_robot_cell
    parent="world"
    
    robot2_ur_type="$(arg robot2_ur_type)"
    robot2_joint_limits_parameters_file="$(arg robot2_joint_limits_parameters_file)"
    robot2_kinematics_parameters_file="$(arg robot2_kinematics_parameters_file)"
    robot2_physical_parameters_file="$(arg robot2_physical_parameters_file)"
    robot2_visual_parameters_file="$(arg robot2_visual_parameters_file)"

    robot1_ur_type="$(arg robot1_ur_type)"
    robot1_joint_limits_parameters_file="$(arg robot1_joint_limits_parameters_file)"
    robot1_kinematics_parameters_file="$(arg robot1_kinematics_parameters_file)"
    robot1_physical_parameters_file="$(arg robot1_physical_parameters_file)"
    robot1_visual_parameters_file="$(arg robot1_visual_parameters_file)"
    >
      <origin xyz="0 0 1" rpy="0 0 0" />
  </xacro:my_dual_robot_cell>

</robot>
